<tr id="pg-row-{{ pg.name | urlencode }}"
    class="{% if pg.technique == 'Surf' %}table-primary{% elif pg.technique == 'Xtal' %}table-success{% elif pg.technique == 'ASWAXS' %}table-warning{% elif pg.technique == 'Beamline' %}table-info{% endif %}">
  <td>
    <input type="text" name="new_name"
           value="{{ pg.name }}" class="form-control form-control-sm fw-semibold"
           required placeholder="Group name">
  </td>
  <td>
    <input type="text" name="pi_name"
           value="{{ pg.pi_name }}" class="form-control form-control-sm"
           list="pg-users-list"
           data-pi-name-input
           placeholder="Type to search users or enter new">
  </td>
  <td>
    <input type="text" name="institution"
           value="{{ pg.institution }}" class="form-control form-control-sm"
           data-pi-field="institution"
           list="geo-institutions-list"
           placeholder="Institution">
  </td>
  <td>
    <input type="text" name="country"
           value="{{ pg.country }}" class="form-control form-control-sm"
           data-pi-field="country"
           data-country-input
           list="geo-countries-list"
           placeholder="US">
  </td>
  <td>
    <input type="text" name="state"
           value="{{ pg.state }}" class="form-control form-control-sm"
           data-pi-field="state"
           data-state-input
           {% if pg.country == 'US' %}list="geo-states-list"{% endif %}
           placeholder="IL">
  </td>
  <td>
    <input type="text" name="orcid_id"
           value="{{ pg.orcid_id }}" class="form-control form-control-sm"
           data-pi-field="orcid_id"
           placeholder="0000-0000-0000-0000">
    <input type="hidden" name="pi_email" value="{{ pg.pi_email }}">
  </td>
  <td>
    {% set technique = pg.technique or '' %}
    {% set post_url = "/pi-groups/" ~ (pg.name | urlencode | replace('+', '%20')) ~ "/set-technique" %}
    {% include "partials/technique_select.html" %}
  </td>
  <td class="text-end text-nowrap">
    <button type="button" class="btn btn-success btn-sm py-0 me-1"
            data-pg-save
            data-pg-save-row="pg-row-{{ pg.name | urlencode }}"
            data-pg-save-url="{{ pg.name | urlencode | replace('+', '%20') }}">
      <i class="bi bi-check-lg"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary btn-sm py-0"
            hx-get="/pi-groups/{{ pg.name | urlencode | replace('+', '%20') }}/view"
            hx-target="closest tr"
            hx-swap="outerHTML">
      <i class="bi bi-x-lg"></i>
    </button>
  </td>
</tr>
